@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --white: #fff;
  --box-shadow: 0px 4px 8px #c1c1c1;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #edfbff;
}

.container {
  width: 90%;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 28px;
  justify-content: center;
  margin-block: 1rem 1.69rem;
  background-color: #537489;
  padding: 1rem 1rem 3rem 1rem;
  box-shadow: 9px 7px 4.5px 0px rgba(0, 0, 0, 0.25) inset;
}

.chartAmount {
  width: 20rem;
  height: 20rem;
  position: relative;
  margin-block: 0 3rem;
  border-radius: 50rem;
  background-color: #edfbff;
}

h2 {
  width: 100%;
  font-weight: 500;
  font-size: 1.9rem;
  position: relative;
  text-align: center;
  color: var(--white);
  margin-block: 0 1rem;
  padding-block: 0.7rem;
  background-color: #1c2832;
}

#leftPart {
  padding-top: 1rem;
}

#leftPart h3 {
  top: 50%;
  left: 50%;
  font-size: 2rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  margin-inline: auto 0;
  transform: translate(-50%, -50%);
}

.totalAmount {
  display: block;
  font-size: 3rem;
  color: #2ecc71;
}

#label {
  position: relative;
  border-radius: 19px;
  background-color: #edfbff;
  padding: 1rem 1rem 1rem 2rem;
}

#label div {
  display: flex;
  color: #727575;
  letter-spacing: 1px;
  justify-content: center;
}

#label div::before {
  content: " ";
  top: 1px;
  width: 8px;
  left: -10px;
  height: 26px;
  position: absolute;
  border-radius: 10px;
  display: inline-block;
  background-color: #0d6a74;
}

.label1 {
  position: relative;
}

.label2 {
  position: relative;
  margin-block: 1rem;
}

#label .label2::before {
  background-color: #2b2a25;
}

.label3 {
  position: relative;
}

#label .label3::before {
  background-color: #39505e;
}

#rightPart {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 1055px) {
    margin-left: 9dvw;
  }
}

#form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#rightPart h3 {
  margin: 0 0 12px;
  text-align: center;
}

.transaction {
  width: 20rem;
  padding: 5px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--white);
  border-radius: 50rem;
  margin-block: 0 1.5rem;
  background-color: #000;
}

.inc-exp-container {
  display: flex;
  padding: 20px;
  margin: 20px 0;
  justify-content: center;
  background-color: var(--white);
  box-shadow: var(--box--shadow);
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

input,
#select {
  padding: 10px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #9c9e9e;
  border-radius: 7px;
  width: max(25rem, 30dvw);
  background-color: #1f2c33;
}

#select {
  font-weight: 300;
  color: #686767;
  text-align: left;
  margin-block: 1.6rem;
  padding: 0.5rem 0.7rem;
  background-color: #1f2c33;
}

.btn {
  width: 20rem;
  padding: 10px;
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  color: var(--white);
  margin: 35px 0 30px;
  border-radius: 10rem;
  background-color: #2b2a25;
}

.show .list {
  padding: 0;
  width: 100%;
}

.list li {
  display: none;
}

.show .list li {
  width: 100%;
  display: flex;
  color: #333;
  padding: 10px;
  margin: 10px 0;
  height: 2.7rem;
  position: relative;
  border-radius: 5px;
  background-color: #1f2c33;
}

ul span {
  width: 100%;
  color: #fff;
  text-align: center;
}

ul span .feather {
  fill: #fff;
}

.feather:hover {
  cursor: pointer;
}

.list li:hover {
  opacity: 1;
}

img[src*="history"] {
  right: 0.9rem;
  bottom: 0.7rem;
  position: absolute;
}

img:hover {
  cursor: pointer;
}

svg {
  stroke: gainsboro;
}

footer {
  width: 100%;
}

footer h2 {
  margin: 0;
  padding: 1rem;
  font-size: 1.3rem;
}

.show .blur-bg {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.show .fullScreenHistory {
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 25rem;
  padding: 20px;
  position: fixed;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 25px 25px 33.5px 13px rgba(0, 0, 0, 0.25);
}

.close {
  display: none;
}

.show .close {
  width: 1rem;
  height: 1rem;
  display: block;
}

@media (max-width: 1055px) {
  h2 {
    padding-block: 2rem;
  }
  .container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  #leftPart {
    margin-bottom: 6rem;
  }
  #rightPart {
    width: 20rem;
    margin-bottom: 3rem;
  }
}
